html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 0px 5px 0px 5px;
}
body > .container {
  padding: 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #7a0f06;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

header{
  background-color: #961105;
}
header span{
  color: #FFFFFF;
}

nav a{
  color: grey;
}

nav a:hover{
  color: #FFFFFF;
}

nav ul {
  list-style: none;
  display: flex;
  
}

nav ul li { 
  text-align: center;
  width: 100%;
}

nav ul li ul li {
  flex: none;
  width: 100%;
}

nav ul li ul { 
  display: none; 
  position: absolute;
  z-index: 1000;
  margin-left: -37px;
}

nav ul li a { 
  padding: 5px; 
  display: block;
}

#Menubar a{
  /* font-family: 'Karla', sans-serif; */
  text-decoration: none;
  background-color: #961105;
}

nav li:hover ul{
  text-align: center;
  display:block;
}

footer span{
  color: #FFFFFF;
}

#signup:hover{
  color: blue;
  text-decoration: underline;
}

.fa{
  color: #FFFFFF;
}

.fa:hover{
  border: #000000;
  border-radius: 20px;
  cursor: help;
}

.nib{
  border-style: outset ;
  border-radius: unset;
}

/* Startseite */
#img1 {
  float: center;
  height: 100%;
  width: auto;
  height: 300pt;
  padding: 0 0 0 30px;
}


.col{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px 20px 50px;
  padding: 20px;
  height: 100%;
  background-color: grey;
  max-width: 100%;
  border-radius: 15px;
}